body {
  background-color: white;
  font-family: "Forum", serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  margin: auto;
}

header img {
  max-width: 40%;
  margin: auto;
  align-items: center;
  padding: 1rem;
}

nav {
  background-color: white;
  padding-bottom: 0.1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

li {
  display: inline-block;
}

h1 {
  font-size: 3rem;
  font-family: "Forum", serif;
  font-weight: 800;
  text-align: center;
  transform: translateY(2rem);
  margin-bottom: 1.4rem;
}

h2 {
  font-family: "Bonheur Royale", cursive;
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-family: "Forum", serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: white;
  color: black;
  padding: 1rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  transform: translateY(-2rem);
}

.description-button {
  background-color: black;
  color: white;
  border: black solid 2px;
  margin-top: 5rem;
}

.description-button:hover {
  background-color: gray;
  color: white;
  border: gray solid 2px;
}

.subscribe-button {
  background-color: white;
  color: black;
  border: black solid 2px;
  margin-top: 4rem;
}

.subscribe-button:hover {
  background-color: gray;
  color: white;
  border: black solid 2px;
}

.details {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button:hover {
  background-color: black;
  color: white;
  border: black solid 2px;
}

header > img {
  display: block;
  margin: auto;
}

#hero {
  background-image: url("ring_background.jpg");
  background-size: cover;
  background-position: center top;
  background-position-y: 35%;
  background-repeat: no-repeat;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  padding-bottom: 5rem;
}

#hero p {
  font-size: 1.5rem;
  text-align: center;
  transform: translateY(2rem);
  font-family: "Bonheur Royale", cursive;
  letter-spacing: 0.3rem;
}

#hero button {
  margin-top: 10rem;
}

.ring-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: space-evenly;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.ring-images {
  height: 70%;
  width: 100%;
  justify-self: center;
}

.card {
  max-width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.5;
  transition: 0.4s ease, box-shadow 0.4s ease;
  margin: 2rem;
}

.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: #740a03 0.2rem 0.2rem 0.4rem;
}

.divider {
  width: 100vh;
  border: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25);
  margin: auto;
  align-items: center;
}

#new-arrivals {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 2rem auto;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  transition: 0.4s ease, box-shadow 0.4s ease;
}
.new-arrivals {
  margin: 2rem;
  transition: 0.4s ease, box-shadow 0.4s ease;
}
.new-arrivals:hover {
  transform: translateY(-0.3rem);
  box-shadow: #740a03 0.2rem 0.2rem 0.4rem;
}

article {
  display: block;
  margin: auto;
  width: 60%;
}

#subscription {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}

.subscription-title {
  font-family: "Bonheur Royale", cursive;
  font-size: 3rem;
}

#left {
  text-align: left;
  font-style: italic;
}
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#left p img {
  width: 12rem;
}

#left p {
  font-size: 1.2rem;
  width: 100%;
  max-width: 60rem;
}
.owner-image {
  width: 20%;
  border-radius: 50%;
  height: auto;
  padding: 1rem;
}
#owner {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 50rem;
  margin-bottom: 2rem;
}

#owner p {
  font-size: 1.2rem;
  max-width: 30rem;
  font-style: italic;
}
main {
  flex: 1;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

footer img {
  max-width: 20%;
  align-items: left;
  padding: 1rem;
}
footer img {
  align-items: right;
  padding: 1rem;
}
